.container__table {
  height: 850px;
  overflow: auto;  /* or auto */
  padding: 10 5 10 5px;
}

.ui.table thead th {
  position: relative;
  z-index: auto
}

.ui.table thead, tr:first-child > th {
  top: 0;
  z-index: auto;
}