.container__table {
  height: 800px;
  overflow: auto;  /* or auto */
  padding: 5px 5px 10px 10px;
  padding-bottom: 60px;
  margin-bottom: 10px;
}

.ui.table thead th {
  position: relative;
  z-index: auto
}

.ui.table thead, tr:first-child > th {
  top: 0;
  z-index: auto;
}
